$mint: rgba(176, 221, 206, 0.4);
$soft-white: rgba(255, 255, 255, 0.8);
$teal: rgb(9, 205, 189);
$palegreen: rgb(129, 217, 180);
$orange-soda: rgb(245, 85, 56);
$purple-soda: rgba(145,124,236,0.65);

@import url("https://use.typekit.net/cqo6qvi.css");

@font-face {
    font-family: 'Mont Demo Heavy';
    src: url("../../assets/fonts/montdemo-heavy.otf") format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bingo-board {
    /* dimensions */
    height: auto;
    width: 60%;

    /* position + display */
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
}

aside {
    /* position + display */
    display: block;
    position: relative;
    margin: 40px 0;
}

aside h3 {
    /* dimensions */
    width: 74%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* typeface */
    font-family: "Mont Demo Heavy", sans-serif;
    font-size: 12px;
    letter-spacing: 8px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    /* position + display */
    top: 100%;
    right: 25%;
    margin: 0 0 10px 0;
    padding: 10px 10px;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(270deg) translate(-100.5%, 30%);

    /* color + background */
    color: #fff;
    backdrop-filter: blur(5px);
    background-color: $mint;
}

.bingo-square {
    /* dimensions */
    height: 110px;
    width: 90%;
    padding: 5%;

    /* position + display */
    margin: 0;
    flex: 1 0 auto;
    position: relative;

    /* color + background */
    color: $soft-white;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .2);

    h5 {
        font-family: "Mont Demo Heavy", sans-serif;
        font-size: 1.1em;
        display: block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        line-height: 0.5em;
        padding: 5% 0 0;
        margin: 0;
    }

    h6 {
        font-family: korolev-rounded, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.9em;
        text-align: center;
        display: block;
        position: relative;
        white-space: pre-wrap;
        padding-top: 0;
        margin-top: 1.5em;
    }


    &:hover {
        cursor: pointer;
        background-color: $purple-soda !important;
        opacity: 0.7;
        backdrop-filter: blur(2px);
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
        border-radius: 10px;
        z-index: 2;
    }

}

.active { display: block; }
.inactive { display: none; }

/* animations */
// NOT IN USE
@keyframes bingoWin {
    0%  {
        background-color: rgba(217, 3, 104, 0.3) !important;
    }
    100% {
        color: #55b6f6;
        background-color: rgba(217, 3, 104, 0.8) !important;
    }
}

.bingo-announcement {
    /* typeface */
    font-size: 10em;
    text-transform: uppercase;
    font-family: "Mont Demo Heavy", sans-serif;
    text-align: center !important;

    /* color + background */
    color: #e266b8;

    /* position + display */
    left: 50%;
    top: 16%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;

    /*  animation */
    animation: pulse 2s infinite;
    text-shadow: 0 0 rgba(226, 102, 184, 1);
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.95);
        text-shadow: 0 0 rgba(226, 102, 184, 0.7);
    }

    70% {
        transform: translate(-50%, -50%) scale(1);
        text-shadow: 10px 10px rgba(226, 102, 184, 0);
    }

    100% {
        transform: translate(-50%, -50%) scale(0.95);
        text-shadow: 0 0 rgba(226, 102, 184, 0);
    }
}

/* media queries for responsiveness */

@media only screen and  (max-height: 2200px) {

    aside h3 { display: none; }
    .bingo-square { border-radius: 8px; }
}

@media only screen and (max-width: 1024px) {
    .bingo-board { left: 4%; }

    aside h3 {
        width: 90%;
        top: 100%;
        right: 11%;
        font-size: 12px;
    }

    .bingo-square {
        height: 100px;

        h5 { font-size: 0.8em; }
        h6 { font-size: 0.75em; }
    }
}

@media only screen and (max-width: 800px) {
    .bingo-board {
        left: 4%;
    }

    aside h3 {
        width: 97%;
        top: 100%;
        right: 6%;
        font-size: 10px;
        padding: 5px 5px;
    }

    .bingo-square {
        height: 80px;
        h5 { font-size: 0.8em; }
        h6 { font-size: 0.6em; }
    }
}

@media only screen and (max-width: 500px) {
    .bingo-board {
        height: auto;
        width: 104%;
        left: -2% !important;
        top: 50% !important;
        zoom: 58%;
    }

    aside h3 { display: none; }

    .bingo-square {
        height: 90%;
        width: 100px;
        border-radius: 10px;

        h5 {
            font-size: 0.8em;
            display: none;
        }

        h6 { font-size: 1.2em; }
    }
}
